# backup files
*~
*#
*.asv

# folders
writings/
videos/
images/
figs/
*build/
**/ascension_tracker/data/
**/pr2/bags2/

# initialization script
initLocal.m

# saved data
*.mat
*.csv

# image files
*.png
*.jpg
*.jpeg
*.bmp
*.fig

*.pdf

# compressed files
*.zip

# casual files
scrap.*

