# backup files
*~
*#
*.asv

# folders
writings/
papers/
rcr_2014/
calibration/
exp1/
exp2/
exp3/
metrics/
images/
figs/
*build/

# initialization scripts
initLocal.m

# saved data
*.mat
*.csv

# image files
*.png

*.pdf

# compressed files
*.zip


