# backup files
*~
*#
*.asv

# directories
writings/
videos/
images/
figs/
**/ascension_tracker/data/
**/pr2/bags2/

*build/
*lib/
*bin/
*data/


# saved data
*.mat
*.csv

# image files
*.png
*.jpg
*.jpeg
*.bmp
*.fig
*.svg

*.pdf

# compressed files
*.zip

# scrap files
scrap.*

# optimization log
# should be more general
optim_log.txt